img {
  width: 40%;
}

p {
  font-family: 'Roboto';
  font-size: 2vw;
}

li {
  text-align: center;
  border: 2px solid blue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
